/* RESET */
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* BACKGROUND */
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #0b4aa2, #f1b600);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARD */
.card {
  width: 92%;
  max-width: 420px;
  background: #fff;
  border-radius: 16px;
  padding: 22px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

/* TITLE */
.card h2 {
  text-align: center;
  color: #0b4aa2;
  font-size: 22px;
  margin-bottom: 6px;
}

.card p {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 18px;
}

/* INPUTS */
.card input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* BUTTON */
.card button {
  width: 100%;
  padding: 15px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  background: #0b4aa2;
  color: white;
  cursor: pointer;
}

.card button:active {
  transform: scale(0.98);
}
